body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #2c61ff,#00d5ff);
    animation: animation 3s infinite ease-in-out;
    
}
@keyframes animation{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
header {
    background-color: #ffffff00;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#logo {
    margin-left: 1%;
}

nav {
    display: flex;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px 20px;
}

#menu {
    display: flex;
    margin-right: 3%;
}

#menu a {
    display: block;
}

#botonhomeuser {

    border-radius: 10px;
    border: 0;
}

#homepalabra {
    color: #005FAC;
    font-weight: bold;
}
/* -------------------------------------------------------- */

#banner{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
#bolacolor {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 0); /* Change the color as needed */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#numaleatorio2 {
    font-size: 40px;
    border: 4px solid rgb(255, 255, 255);
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    
    
}
#numaleatorio{

}
#numeroaleatorio{
    display: flex;
    align-items: center;
    justify-content: center;

}
#contendornumeroaleatorio {
    width: 20%;
}
#contenidotexto{
    
}
#prueba{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    
}
#startButton, #stopButton {
    margin-right: 10px; 
    border: 0;
    background-color: #ffffff00;
}
#contendorbotones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

/* estilos para los cartones */
#contenedorcartones{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

    #carton1 {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 5px;
        border: 3px solid #ffffff;
        padding: 5px;
        margin-top: 5%;
        color: #ffffff;
    }

    #carton1 div {
        border: 1px solid #ffffff;
        padding: 10px;
        text-align: center;
    }
    #cartonseccion1{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
    }

/* fin estilos para los cartones */