/* AÑADIMOS LA FUENTE INGRESADA */
@font-face {
    font-family: "Cansao";
    src: url("assets/fuentes/MartianMono-Bold.woff2");
}

/* ESTILOS GENERALES PARA EL BODY */
body {

    font-family: 'Cansao';
    font-weight: bold;
    font-size: 25px;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #232526, #414345);
    animation: animation 3s ease-in-out;
    color: #ffffff;

}

/* AÑADIMOS ANIMACION AL ABRIR LA PAGINA */
@keyframes animation {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;
    }
}
/* ESTILOS PARA EL HEADER */
header {
    background-color: #ffffff00;
    color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#titulo {
    letter-spacing: 0.05em;

}

#logo {
    margin-left: 1%;
}

nav {
    display: flex;
}

nav a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 10px 20px;
}

#menu {
    display: flex;
    margin-right: 3%;
}

#menu a {
    display: block;
}

#botonhomeuser {

    border-radius: 10px;
    border: 0;
}

#homepalabra {
    color: #edf81a;
    font-weight: bold;
}
/* --------- FIN DE LOS ESTILOS DEL HEADER ----------- */

/* ESTILOS PARA DIV DEL CONTENEDOR DE LOS CARTONES */
#contenedorcartones div {
    margin: 3px;
    padding: 3px;
}

#cartonSelect {
    background-color: #00000057;
    border: 3px solid white;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    width: 140px;
    height: 40px;
}

/* ESTILOS PARA EL BOTON DE RESET */
#resetButton {
    background-color: #00000062;
    border: 3px solid white;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    width: 140px;
    height: 40px;
}

/* ESTILOS PARA EL DIV CANTAR DONDE APARECEN LOS MENSAJES DE BINGO O LINEA */
#cantar {
    width: 400px;
    margin-left: 8%;
    font-size: 20px;
}

.destacado {

    background: linear-gradient(to right, rgb(254, 240, 138), rgb(255, 216, 19), rgb(250, 204, 21));
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: underline;


}

/* ESTILOS PARA EL BANNER DEL TITULO DCKBINGO */
#banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
/* ESTILOS PARA LA BOLA DE BINGO NUMEROS ALEATORIOS */
#bolacolor {
    width: 200px;
    height: 200px;
    background-color: rgb(147, 52, 236);
    /* Change the color as needed */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#numeroaleatorio {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;

    margin-left: 10%;


}
#numaleatorio {
    color: #232526;
}

#numaleatorio2 {
    font-size: 40px;
    border: 4px solid rgb(255, 255, 255);
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
/* ----------FIN DE LOS ESTILOS DE LA BOLA DE NUMEROS ALEATORIAS-------------- */
/* ESTILOS PARA EL CONTENEDOR INICIAL */
#contenedorPrincipal {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 0%;
    /* Ajusta según sea necesario */
}
#contendornumeroaleatorio {
    width: 100%;
}
#prueba {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
/* -------------------------------------------------------------------------------- */
/* ESTILOS PARA EL BOTON DE ININCIO GENERADOR DE NUMEROS */
#startButton{
    margin-right: 10px;
    border: 0;
    background-color: #ffffff00;
}
/* ESTILOS PARA EL CONTENEDOR DE LOS BOTONES */
#contendorbotones {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 10%;
}

/* ESTILOS PARA EÑ COLOR DE LA CASILLA MARCADA */
.marcado {
    background-color: green;
    color: white;

}

/* ------------------------------ INICIO ESTILOS PARA LOS CARTONES CONTENEDOR --------------------------------*/
#contenedorcartones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    max-height: 70vh;
    overflow-y: auto;
}


.contenido {
    flex: 1;
    width: 100%;
}

#yaaparecidos {
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    /* Cambiado a 100% para ocupar todo el ancho disponible */
    max-height: 200px;
    overflow-y: auto;
    gap: 1%;
}

#cartones {
    max-height: 70vh;
}

.clasecarton {
    display: flex;
    flex-direction: column;
    border: 3px solid #ffffff;
    padding: 5px;
    margin-top: 5%;
    color: #ffffff;
    max-width: 100%;
}

.clasecarton .fila {
    display: flex;
}

.clasecarton .fila div {
    min-width: 2rem;
    border: 1px solid #ffffff;
    padding: 10px;
    text-align: center;
}

#contenedorcartones,
#yaaparecidos {
    overflow-y: auto;
    scrollbar-width: thin;
}
/* ---------------------------FIN INICIO ESTILOS PARA LOS CARTONES CONTENEDOR --------------------------------*/

/* --------------------------INICIO ESTILOS PARA EL SCROLLBAR DE LOS CONTENEDORES --------------------------- */
#contenedorcartones::-webkit-scrollbar,
#yaaparecidos::-webkit-scrollbar {
    width: 12px;
}

#contenedorcartones::-webkit-scrollbar-thumb,
#yaaparecidos::-webkit-scrollbar-thumb {
    background-color: #ae2cff;
    border-radius: 5px;
}

#contenedorcartones::-webkit-scrollbar-track,
#yaaparecidos::-webkit-scrollbar-track {
    background-color: #ffffff75;
    /* Color del riel de la barra de desplazamiento */
}
/* ----------------------FIN INICIO ESTILOS PARA EL SCROLLBAR DE LOS CONTENEDORES --------------------------- */

/* ESTILO PARA EL TITULO */
#seleccionar {
    font-size: 25px;
}


/*---------------------INICIO RESPONSIVE PARA MOVIL -------------------------------*/
@media (min-width: 330px) and (max-width: 799px) {
    header {
        padding-top: 0px;
    }

    #banner {

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 5%;
    }

    body {
        font-size: 15px;
    }

    #contenidotexto {
        margin-bottom: 5%;
    }

    #contenedorPrincipal {


        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #contenedornumeroaleatorio {}

    #numeroaleatorio {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
    }

    #prueba {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    #numerosalidos {
        width: 70%;

    }

    #contenedorcartones {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        max-height: 60vh;
        overflow-y: auto;
        font-size: 20px;
    }

    #contenedorcartones div {
        margin: 1px;
        /* O el valor que desees */
        padding: 1px;
        /* O el valor que desees */
    }

    .contenido {
        flex: 1;
        width: 100%;
    }

    #yaaparecidos {
        border: 2px solid white;
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        /* Cambiado a 100% para ocupar todo el ancho disponible */
        max-height: 50px;
        overflow-y: auto;
        gap: 1%;
    }

}
/* ------------------FIN RESPONSIVE PARA MOVIL --------------------*/

/*---------------------INICIO RESPONSIVE PARA TABLET -------------------------------*/

@media (min-width: 800px) and (max-width: 1024px) {
    body {
        font-size: 15px;
    }

    #contenidotexto {
        margin-bottom: 5%;
    }

    #contenedorPrincipal {


        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #contenedornumeroaleatorio {}

    #numeroaleatorio {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
    }

    #prueba {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }

    #numerosalidos {
        width: 70%;

    }

    #contenedorcartones {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        max-height: 60vh;
        overflow-y: auto;
        font-size: 20px;
    }

    #contenedorcartones div {
        margin: 3px;
        /* O el valor que desees */
        padding: 3px;
        /* O el valor que desees */
    }

    .contenido {
        flex: 1;
        width: 100%;
    }

    #yaaparecidos {
        border: 2px solid white;
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        /* Cambiado a 100% para ocupar todo el ancho disponible */
        max-height: 200px;
        overflow-y: auto;
        gap: 1%;
    }
}
/*--------------------- FIN INICIO RESPONSIVE PARA TABLET -------------------------------*/